<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css"/>
  <title>Provisiones Stan</title>
</head>

<body>
  <header class="nav-container"><%- include('../partials/navbar')%></header>
  <div class="flex-center">
    <h1>BIENVENIDX <%=name%></h1>
    <h2>CENTRO DE MENSAJES</h2>
    <h3 id="div-compres"></h3>
	</div>
	<div class="form-container">
			<input type="email" id="email" value="" placeholder="Email"/>
			<input type="text" id="nombre"	value="" placeholder="Nombre"/>
			<input type="text" id="apellido" value="" placeholder="Apellido"/>
			<input type="number" id="edad" value="" placeholder="Edad"/>
			<input type="text" id="alias" value="" placeholder="Alias"/>
			<input type="text" id="avatar" value="https://www.avatarist.com/avatars/Games/Monkey-Island/Three-headed-monkey.gif" placeholder="Avatar"/>
			<input type="text" id="caja-msg" value="" placeholder="Escriba su mensaje"/>
	</div>
  <div>
    <button class="btn-enviar" id="submitMessage">
      Enviar mensaje
    </button>
  </div>
  <div id="div-chats"></div>
  <div><%- include('../partials/footer')%></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
  <script type="module" src="/chat.js"></script>
</body>
</html>
